.frnt {
    background-color: red;
}

.Textdata {
    padding: 12px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: aqua;
}

.popup-content .Modal {
    margin: 5px;
    height: 400px;
    z-index: 999;
    left: 0;
    border-radius: 10px;
}

.data {
    align-items: center;
    text-align: center;
}

.tittleemp {
    display: flex;
    justify-content: space-between;
}

.Addemp {
    background-color: #1f61db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    margin-right: 10px;
}

.inputdashboard {
    padding: 8px;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 4px;
    resize: vertical;
    font-size: 14px;
    width: 100vh;
    height: 35%;
    align-items: center;
}

.nameuser {
    display: flex;
    text-align: center;
}

.formdatauser {
    text-align: center;

}

.buttn {
    justify-content: center;
}

.submituserdata {
    background-color: #00CD00;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 12px;
    padding: 6px 10px;
    margin-left: 5px;
}

.cancleuserdata {
    background-color: #f51e30;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 12px;
    padding: 6px 10px;
    margin: 5px;
    margin-left: 5px;
}

.Presentbtn {
    background-color: #00CD00;
    color: #fff;
    border: none;
    padding: 6px 10px;
    font-weight: 600;
    border-radius: 12px;
    margin-right: 10px;
}

.Absentbtn {
    background-color: white;
    color: #e12727;
    border: 1px solid #e83324;
    font-weight: 500;
    margin-right: 10px;
    padding: 6px 10px;
    border-radius: 12px;
}

.Updatebutton {
    background-color: #00CD00;
    color: #fff;
    border: none;
    padding: 6px 10px;
    font-weight: 600;
    border-radius: 25px;
    margin-right: 10px;
}

.canclebutton {
    background-color: white;
    color: #e12727;
    border: 1px solid #e83324;
    font-weight: 500;
    margin-right: 10px;
    padding: 6px 10px;
    border-radius: 25px;
}

.close {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bold;
    margin-right: 15px;
}

.popupdata {
    padding: 10px;
    border: 1px solid rgb(170, 168, 168);
    font-size: 14px;
}

.lable.lablename {
    font-size: 17px;
    font-weight: 600;
}

.updateheading {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.Delete_popup {
    margin: -6px;
}

.Delete_popup_Title {
    font-size: 20px;
    font-weight: 600;
    background-color: #D9534F;
    padding: 6px 15px;
    color: #ffffff;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.Delete_popup_text {
    padding-top: 15px;
    margin-left: 17px;
}

.Delete_popup_buttons {
    margin-top: 7%;
    margin-bottom: 15px;
    text-align: right;
    margin-right: 20px;
}

.Delete_popup_canclebtn {
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    color: #ffffff;
    background-color: #00CD00;
    margin-right: 8%;
}

.Delete_popup_deletebtn {
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    color: #ffffff;
    background-color: #D9534F;
}

.popup-content .Modal {
    margin: 5px;
    height: 400px;
    z-index: 999;
    left: 0;
    border-radius: 10px;
}

.popupdata {
    padding: 10px;
    border: 1px solid rgb(170, 168, 168);
    font-size: 14px;
}

.MuiBox-root css-jj6133 {
    padding: 10px !important;
    margin-top: 60px !important;
}

.heading-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 10px;
}

.dash {
    width: 90%;
    margin-top: 20px;
}